<!-- <app-header></app-header> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-navigation></app-navigation> -->
 
<!-- <img [src]=product.image>
<p>Name:{{product.name}}</p>
<p>price:${{product.price}}</p>
<p>color:{{product.color}}</p>
<p>discounted price:{{product.price-product.discount}}</p>
<p>discounted percentage:{{getDiscountedPercentage().toFixed(0)+'%'}}</p>
<p>{{product.instock>0 ? 'only '+product.instock+' items left':'not in stock'}}</p>
<button (click)="reduceFromCart()">-</button>
<span>{{cartValue}}</span>
<button (click)="addToCart()">+</button>
<button [disabled]="!(product.instock>0)">byNow</button>
<input [value]="name"><br>
<input [value]="name" (input)="inputText($event)"> 
<p>current name is:{{currentName}}</p>-->

<app-topheader></app-topheader>
<app-header></app-header>
<app-container></app-container>