<!-- <div class="container">
    <nav class="row">
        <div class=" logo_container">
            <label for="logo" class="logo">eMart</label>
        </div>
        <div class=" nav_container">
            <ul>
                <li><a href="#">Home</a></li> 
                <li><a href="#">About</a></li> 
                <li><a href="#">Servise</a></li> 
                <li><a href="#">Contact</a></li> 
                <li><a href="#">Feadback</a></li> 
            </ul>
        </div>
        <div class=" login_container">
            lg
        </div>
    </nav>
</div> -->

<div class="grid-container">
    <div class="grid-item grid-item-1"><p>Item one</p></div>
    <div class="grid-item grid-item-2"><p>Item two</p></div>
    <div class="grid-item grid-item-3"><p>Item three</p></div>
    <div class="grid-item grid-item-4"><p>Item four</p></div>
    <div class="grid-item grid-item-5"><p>Item five</p></div>
    <div class="grid-item grid-item-6"><p>Item six</p></div>
    <!-- <div class="grid-item grid-item-7"><p>Item seven</p></div> -->
</div>